---
name: "Build Version Catalogs"
"on":
  workflow_dispatch: null
  push:
    branches:
    - "main"
    paths:
    - "services/version-catalogs/**"
jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v6"
    - uses: "actions/setup-java@v5"
      with:
        distribution: "temurin"
        java-version-file: "services/toolchains/.java-version"
    - uses: "gradle/actions/setup-gradle@v5"
    - run: "./gradlew :services:version-catalogs:check --no-daemon"
